@import '../style.scss';

.Contact {
    background-color: $blue;
    color: $cream;

    padding-top: 150px;
    padding-bottom: 150px;

    display: flex;
    flex-direction: column;
    gap: 64px;

    @media (width < 800px) {
        padding-left: 5%;
        padding-right: 5%;

        gap: 32px;
    }

    @media (width >=800px) {
        padding-left: 10%;
        padding-right: 10%;
    }

    @media (width >=1200px) {
        padding-left: 15%;
        padding-right: 15%;
    }

    @media (width >=1800px) {
        padding-left: 20%;
        padding-right: 20%;
    }
}

.Contact #buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;

    @media (width < 800px) {
        gap: 32px;
    }
}