@import "./style.scss";

body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Home {
  background-color: $blue;
  position: absolute;
  min-width: 100%;  
  min-height: 100%;
}
